{%extends 'base.html'%}
{%load static%}
{%block body_block%}
    
    <link rel="stylesheet" href="{%static 'socialapp/css/index.css'%}">
    <div class="container d-flex flex-column justify-content-center align-items-center mt-5">
    {%if form.errors%}
        {{form.errors}}
    {%endif%}

        <!-- =====post add start -->
        <form class="w-100 " action="" method="post" enctype="multipart/form-data">
            <div class="container rounded-pill post p-2 mt-3 d-flex justify-content-evenly bg-secondary bg-opacity-10 mt-4">
                {%csrf_token%}
                <div class="">
                    {%if request.user.profile.profile_pic%}
                        <img class="profile-small" src="{{request.user.profile.profile_pic.url}}" alt="Avatar">
                    {%else%}
                        <img class="profile-small" src="{%static 'socialapp/images/profilepic.png'%}" alt="Avatar">
                    {%endif%}
                </div>
                <div class="">
                    <input class="load d-none" name="post_image" type="file" id="file" accept="image/*">
                    <label class="upload d-flex justify-content-center align-items-center" style="width: 60px;" for="file"><img src="{%static 'socialapp/images/upload.png'%}" style="width: 30px;" alt=""></label>
                </div>
                <div class="">
                    <input class="form-control rounded-pill" type="text" name="title" id="" placeholder="captions...">
                </div>
                <div class="">
                    <button class="btn btn-primary" type="submit">Post</button>
                </div>
            </div>
        </form>
        <!-- =====post add start -->


        <!-- post section start -->
        {%for post in data%}

        <div class="rounded-4 mt-2 mb-3 w-50 bg-secondary bg-opacity-10">
            <div class="ms-2 mt-2 mb-2">
                {%if post.user.profile.profile_pic%}
                    <img class="profile-small" src="{{post.user.profile.profile_pic.url}}" alt="Avatar">
                {%else%}
                    <img class="profile-small" src="{%static 'socialapp/images/profilepic.png'%}" alt="Avatar">
                {%endif%}

                <span class="fw-bold">{{post.user}}</span>,<span class="date"> {{post.created_date}}</span>

            </div>
            <div>
                {%if post.post_image%}
                    <img src="{{post.post_image.url}}" class="h-auto w-100" alt="">
                    <div class="p-2 ms-2">
                        <span class="spa">{{post.title}}</span>
                    </div>
                {%else%}
                <div class="p-2 ms-2 text-center">
                    <h1 class="elsepost">{{post.title}}</h1>
                </div>
                {%endif%}
            </div>
            <div class="ms-2 mt-2 mb-2 d-flex align-items-start">
                <form action="{%url 'like' post.id%}" method="post" class="d-flex">
                    {%csrf_token%}
                    {%if request.user in post.liked_by.all%}
                        <div class="d-block flex-column">
                            <div>
                                <button type="submit" name="action" value="dislike" class="btn"><i class="fa-solid fa-heart fs-4 text-danger"></i></button>
                            </div>
                            <div>
                                <span class="ms-3 spa">{{post.liked_by.all.count}}</span>
                            </div>
                        </div>
                    {%else%}
                        <div class="d-block flex-column">
                            <div>
                                <button type="submit" name="action" value="like" class="btn"><i class="fa-regular fa-heart fs-4 text-dark"></i></button>
                            </div>
                            <div>
                                <span class="ms-3 spa">{{post.liked_by.all.count}}</span>
                            </div>
                        </div>
                    {%endif%}
                </form>
            </div>
            <hr class="ms-3 me-3">
            <span class="ms-4 spa">{{post.post_comments.all.count}} comments</span>
            {%if post.post_image%}
            <div class="d-flex align-items-center mb-0 p-3">
                <div>
                    <img class="profile-xsmall" src="{%static 'socialapp/images/profilepic.png'%}" alt="">
                </div>
                <form class="w-100 d-flex" action="{%url 'comment' post.id%}" method="post">
                    {%csrf_token%}
                    <div class="ms-2 comment form-control rounded-end-0 border-0">
                        <input type="text" name="text" id="" placeholder="Message .........." class="border-0 w-100">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-secondary rounded-start-0">Post</button>
                    </div>
                </form>
            </div>
            <!-- caption print -->
            <!-- <div class="p-2 ms-5 mb-3">
                <span class="spa">{{post.comment}}</span>
            </div> -->
            <!-- caption end -->
            {%else%}
            <div class="d-flex align-items-center mb-1 p-3">
                <div>
                    <img class="profile-xsmall" src="{%static 'socialapp/images/profilepic.png'%}" alt="">
                </div>
                <form class="w-100 d-flex" action="{%url 'comment' post.id%}" method="post">
                    {%csrf_token%}
                    <div class="ms-2 comment form-control rounded-end-0 border-0">
                        <input type="text" name="text" id="" placeholder="Message .........." class="border-0 w-100">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-secondary rounded-start-0">Post</button>
                    </div>
                </form>
            </div>

            {%endif%}
            {%for c in post.post_comments.all%}
            <div class="d-flex">
                <div class=" ms-3 p-3">
                    {%if c.user.profile.profile_pic%}
                        <img class="profile-xsmall" src="{{c.user.profile.profile_pic.url}}" alt="">
                    {%else%}
                        <img class="profile-xsmall" src="{%static 'socialapp/images/profilepic.png'%}" alt="Avatar">
                    {%endif%}
                </div>
                <div class="mt-3 d-flex">
                    <div class="">
                        {{c.user}}
                    </div>
                    <div>&nbsp;
                        <span class="spa">{{c}}</span>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
        {%endfor%}
        <!-- post section end -->
    </div>

{%endblock%}